.pdp__container{
    max-width: 1440px;
    margin: 0 auto;
}

.benefits{
    text-align: center;
    padding: 80px 0 0 0;
}
.benefits__title{
    font-family: 'Philosopher';
    font-size: 48px;
    font-weight: 700;
    line-height: 148%;
    font-style: normal;
    margin: 0%;
}
.benefits__info{
    width: 720px;
    margin: 20px auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    font-style: normal;
}
.benefits__info span{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.benefits__elements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.benefit__element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #cbcbcb; */
    /* padding: 10px; */
}
.benefit__title{
    font-family: 'Philosopher';
    font-size: 32px;
    font-weight: 700;
    margin: 24px 0 18px 0;
    line-height: 36px;
}
.benefit__content{
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    padding: 0 20px;
    margin: 0%;
}
.benefits__cta{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000;
    margin-top: 16px;
}

/* Enjoy */
.enjoy{
    background-color: #000;
    color: #fff;
    margin-top: 79px;
}
.enjoy__wrapper{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 80px 40px;
}
.enjoy__image--wrapper{
    max-width: 660px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enjoy__image{
    width: 660px;
    height: 420px;
}
.enjoy__title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 70px;
    line-height: 78px;
    margin: 40px;
    position: absolute;
}
.enjoy__label{
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #EAE5DD;
}
.enjoy__div{
    margin-top: auto;
}
.enjoy__content{
    /* width: 632px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
}

/* Richtext */
.richtext__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
    margin: auto;
}
.richtext__image--item{
    margin: auto;
}
.richtext__image{
    border-radius: 50%;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    /* transform: skewX(-5deg); */
}
.richtext__content{
    width: 530px;
    margin: auto;
}
.richtext__label{
    margin: 0%;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.richtext__title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 55px;
    line-height: 148%;
    margin: 0%;
}
.richtext__description{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    margin: 16px 0 40px 0;
}
.richtext__cta{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
}

/* Product-details */
.product-details{
    margin-top: 80px;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 94px;
}
.product-details__wrapper{
    padding: 0 63px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product-details__paginations{
    width: 288px;
    margin: auto;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-details__swiper-slide{
    height: 300px !important;
}
.product-details__menu{
    display: flex;
    border-bottom: 1px solid #CBCBCB;
}
.product-details__item{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.product-details__item--image{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.product-details__numbers{
    display: flex;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.product-details__number{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    cursor: pointer;
}
.product-details__number:hover{
    border-bottom: 1px solid #BB6B1E;
}
.product-details__button{
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
}
.product-details__label{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0%;
}
.product-details__title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 48px;
    line-height: 148%;
    margin: 0%;
}
.product-details__description{
    margin: 0%;
    font-weight: 400;
    font-size: 14px;
    line-height: 157.6%;
}
.product-details__stars{
    display: flex;
    margin-top: 8px;
}
.product-details__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 157.6%;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    padding: 16px 0;
    margin: 16px 0;
}
.product-details__icon{
    margin: 0 16px 0 0;
}
.product-details__link{
    display: flex;
    align-items: center;
}
.product-details__links{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.product-details__cta{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-top: 1px solid #CBCBCB;
    padding-top: 16px;
}
.product-details__price{
    font-size: 32px;
    font-weight: 900;
    line-height: 39px;
    margin: 0%;
}
.product-details__adaptogenic{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-top: 1px solid #CBCBCB;
    padding: 16px 0 0 0;
}
.product-details__item--title{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    margin-top: 19px;
}
.product-details__quantity--text{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.product-details__complimentary--text{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    margin: 0 0 16px 0;
}
.product-details__form--label{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.product-details__form--button{
    margin-bottom: 13px;
}
.product-details__form--link{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}
.product-details__form{
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #CBCBCB;
}



/* Accordion */
.accordion__wrapper{
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    padding: 8px 0;
    margin: 16px 0;
}
.accordion {
    font-family: 'Montserrat';
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}





/* Box */
.box__carousel{
    border-top: 1px solid #CBCBCB;
    margin-top: 72px;
}
.box__carousel--swiper-wrapper{
    padding: 0 40px;
    padding-top: 40px;
}
.box__image{
    position: relative;
}
.box__product--image{
    position: absolute;
    left: 250px;
}
.box__swiper-slide{
    width: 978px !important;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 182px;
}
.box__product--title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 55px;
    line-height: 148%;
    margin: 0%;
}
.box__ingredients--title{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.box__product--cta{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
}






@media (max-width: 1223px){
    .richtext__wrapper{
        flex-direction: column-reverse;
    }
    .richtext__content{
        width: auto;
        text-align: center;
        margin-top: 24px;
    }
    .richtext__image{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .product-details__wrapper{
        padding: 0 16px;
        grid-template-columns: 1fr;
    }
    .item2{
        grid-area: 1;
    }
    .item1{
        grid-area: 2;
    }
    .product-details__swiper-slide{
        height: 100% !important;
        text-align: center;
    }
    .product-details__paginations{
        width: 100%;
        margin-top: -30px;
    }
    .benefits__info{
        width: auto;
    }
    .enjoy__wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .enjoy__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .enjoy__title{
        position: relative;
        text-align: center;
        padding: 40px 0 0 0;
    }
    .box__swiper-slide{
        /* width: 100% !important; */
        display: block;
        margin: 0;
    }
    /* .box__image{
        width: 278px;
        height: 380px;
    }
    .box__product--image{
        width: 159px;
        height: 275px;
    } */
}